<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

          <meta charset="UTF-8">
          <meta name="description" content="Male_Fashion Template">
          <meta name="keywords" content="Male_Fashion, unica, creative, html">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <title>Products</title>

          <!-- Google Font -->
<!--          <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"-->
<!--                rel="stylesheet">-->
          <link href="/bootstrap-5.2.2-dist%20(1)/bootstrap-5.2.2-dist/css/bootstrap.min.css" rel="stylesheet">

          <!-- Css Styles -->
<!--              <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">-->
<!--              <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">-->
<!--              <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">-->
<!--              <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">-->
<!--              <link rel="stylesheet" href="css/nice-ss" type="text/css">-->
<!--              <link rel="stylesheet" href="css/style.css" select.css" type="text/css">-->
<!--              <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">-->
<!--              <link rel="stylesheet" href="css/slicknav.min.ctype="text/css">-->
  </head>
  <body>
  <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Assignment1</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">Board</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="dashboard.html">Dash
                                  Products
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="/product">All Product</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="#">Bags</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="#">Clothing</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="#">Shoes</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="#">Accessories</a></li>
                                  <li><hr class="dropdown-divider"></li>

                              </ul>
                           </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="/user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Users
                              </a>
<!--                              <ul class="dropdown-menu">-->
<!--                                  <li><a class="dropdown-item" href="user.html">User</a></li>-->
<!--                                  <li><hr class="dropdown-divider"></li>-->
<!--                              </ul>-->
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="/user/logout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Logout
                              </a>
                          </li>


                      </ul>
                      <form class="d-flex" role="search">
                          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
          </div>
      </div>
  </nav>
    {{{body}}}
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/jquery.nicescroll.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.slicknav.js"></script>
  <script src="js/mixitup.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>
  <script src="popper.min.js"></script>
<!--  <script src="../../public/bootstrap-5.2.2-dist%20(1)/bootstrap-5.2.2-dist/js/bootstrap.js"></script>-->
<!--  <script src="../../bootstrap-5.2.2-dist%20(1)/bootstrap-5.2.2-dist/js/bootstrap.js"></script>-->
  <script src="bootstrap-5.2.2-dist%20(1)/bootstrap-5.2.2-dist/js/bootstrap.js"></script>
  </body>
</html>
