<h1>Xoa</h1>
Ban co dong y xoa tai khoan: <b>{{itemUser.username}}</b>
<form action="" method="post">
    <button type="submit">Dong y xoa</button>
    <a href="./list-user.hbs" class="btn btn-default">ko xoa</a>
</form>