<h1>Thêm mới sản Phẩm</h1>
<form method="post" action="">
    Tên sản phẩm:<input type="text" name="product_name"><br>
    Giá sản phẩm:<input type="number" name="product_price"><br>
    Ảnh sản phẩm(link): <input type="text" name="product_img"><br>
    <button type="submit">them moi</button>
</form>