<h1>Xoa</h1>
Ban co dong y xoa Sản Phẩm: <b>{{itemProduct.name}}</b>
<form action="" method="post">
    <button type="submit">Dong y xoa</button>
    <a href="/product/" class="btn btn-default">ko xoa</a>
</form>