<h1> Sua thong tin sach</h1>
<form method="post" action="">
    Tên sản phẩm:<input type="text" name="product_name" value="{{itemProduct.name}}"><br>
    Giá Sản Phẩm:<input type="number" name="product_price" value="{{itemProduct.price}}"><br>
    Ảnh Sản Phẩm(link):<input type="text" name="product_img" value="{{itemProduct.img}}"><br>
    <button type="submit"> cap nhat</button>
</form>